{% extends 'base.html.twig' %}

{% block title %}Edit Family{% endblock %}

{% block body %}
    <h1>Edit Family</h1>

    {{ include('family/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_family_index') }}">back to list</a>

    {{ include('family/_delete_form.html.twig') }}
{% endblock %}
