{% extends 'base.html.twig' %}

{% block title %}New Family{% endblock %}

{% block body %}
    <h1>Create new Family</h1>

    {{ include('family/_form.html.twig') }}

    <a href="{{ path('app_family_index') }}">back to list</a>
{% endblock %}
